<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">About me</a></li>
	        	<li><a href="/research.html">Research</a></li>
        		<li><a href="/teaching.html">Teaching</a></li>
        		<li><a href="./pdf_files/cv.pdf">CV</a></li>
    		</ul>
		</nav>
		<div class="container">
      
    {{ content }}
      
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:lijunbo@ustc.edu.cn">Email</a>| Last updated: July 06, 2020. </li>
			</ul>
		</footer>
	</body>
</html>
